# Şifreler
.env
*.env
!.env.example
!localstack-lab/.env.example

# Go
/bin/
main
*.exe

# Python & YOLO
__pycache__/
*.pt
venv/

# Veri
minio_data/
pgdata/

k8s/01-config-secrets.yaml
k8s/*secret*.yaml