[defaults]
inventory = inventory/hosts.yml
retry_files_enabled = false
host_key_checking = false
interpreter_python = auto_silent
stdout_callback = default
local_tmp = ../.ansible/tmp

[privilege_escalation]
become = false
