# cp .env.example .env
# 4.4 Community token istemez. latest kullanırsan app.localstack.cloud token'ı:
# LOCALSTACK_AUTH_TOKEN=
SSH_PUBLIC_KEY="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCs7D2J0rwtJz8ZOjnwyDwp/NVx26Zn4v7SW5BkYznB6pkYrbTnJRo4BsYSuB7yrbZs+N4R7wCOgjbDNUrIjGCEsgZaYzT9EaVG4tU3y1/SG1OoBMlQ3w793XW+eIg/z0oQCiLNvLjd1fy9+dSzvluA5VE83hy+ECNmMbZ06/YSvxNOj/A8p48WRsg/3qwus2c7VddcSHLgrlO0oXDINsf67i1Lhb6661FpRDW/f5X9mKXiDnQVumDS1fah1hSP6C/s+ksz0GvtT2Vg/m8Y9+djMPUv7yHoEj9coFlPxOr56U3N39LaAw+9Gn6T9KA8A+ZW0s6po5Yr4mq+Zmq5+GB/ hidircan@localstack"

